services:
  verdaccio:
    image: verdaccio/verdaccio:5
    container_name: verdaccio
    environment:
      - VERDACCIO_PORT=4873
      - VERDACCIO_PUBLIC_URL=https://npm.585dg.com  
       # ★ 新增这一行
    ports:
      # - ${VERDACCIO_PORT:-4873}:${VERDACCIO_PORT:-4873}
      - 4873:4873
    volumes:
      - verdaccio-storage:/verdaccio/storage
      - ./conf:/verdaccio/conf
    networks:
      - verd-net

volumes:
  verdaccio-storage:
    driver: local

networks:
  verd-net:
    driver: bridge
    ipam:
      config:
        - subnet: 10.250.0.0/24
