services:
  verdaccio:
    image: verdaccio/verdaccio:5
    container_name: verdaccio
    environment:
      - VERDACCIO_PORT=4873
    ports:
      # - ${VERDACCIO_PORT:-4873}:${VERDACCIO_PORT:-4873}
      - 4873:4873
    volumes:
      - verdaccio-storage:/verdaccio/storage
      - ./conf:/verdaccio/conf

volumes:
  verdaccio-storage:
    driver: local
